<!DOCTYPE HTML>
<html>
  <head>
    <title>BORK</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A wechat mini program for rescue animals">
    <meta name="author" content="陈陈江阮博江">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="flex-container">
      <div class="flex--inner">
        <div class="bork"></div>
        <div class="bork-box">
          <p>BORK IS A WECHAT MINI PROGRAM FOR CONNECTING STRAY ANIMALS WITH THEIR FOREVER HOMES.</p>
          <h2>COMING SOON</h2>
        </div>
      </div>
    </div>
  </body>
</html>
